<h1>Список файлов</h1>

<% if @tariff_files.any? %>
  <table class="tariff-table">
    <thead>
      <tr>
        <th>Имя файла</th>
        <th>Тариф</th>
        <th>Отправлен</th>
        <th>Дата отправки</th>
        <th>Пользователь</th>
        <th>Срок действия</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tariff_files.each do |tariff_file| %>
        <tr>
          <td><%= tariff_file.file&.filename %></td>
          <td><%= tariff_file.tariff&.duration || 'Без тарифа' %></td>
          <td class="<%= tariff_file.sent? ? 'sent-yes' : 'sent-no' %>">
            <%= tariff_file.sent? ? 'Да' : 'Нет' %>
          </td>
          <td><%= tariff_file.send_at&.strftime("%d %B %Y %H:%M") || 'Не отправлен' %></td>
          <td><%= tariff_file.order&.user&.username %></td>
          <td><%= tariff_file.expired_at&.strftime("%d %B %Y %H:%M") || 'Бессрочно' %></td>
          <td>
            <div class="actions-container">
              <%= button_to 'Удалить', tariff_file_path(tariff_file), method: :delete, data: { turbo_confirm: 'Вы уверены?' }, class: 'action-button delete-button button-base' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= will_paginate @tariff_files %>
  </div>
<% else %>
  <p class="empty-message">Файлов пока нет</p>
<% end %>

<div class="form-group">
  <%= link_to 'Загрузить новые файлы', new_tariff_file_path, class: 'action-button button-base' %>
</div>
