<h1>Загрузка файла</h1>

<%= form_with model: @tariff_file, url: tariff_files_path, local: true, multipart: true do |form| %>
  <div>
    <%= form.label :tariff_id, 'Выберите тариф' %>
    <%= form.collection_select :tariff_id, Tariff.all, :id, :duration, prompt: 'Выберите тариф' %>
  </div>

  <div>
    <%= form.label :file, 'Выберите файл' %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit 'Загрузить' %>
  </div>
<% end %>

<% if @tariff_file.errors.any? %>
  <div>
    <h2>Ошибки:</h2>
    <ul>
      <% @tariff_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
