<h1>Список тарифов</h1>

<% if @tariffs.any? %>
  <table class="tariff-table">
    <thead>
    <tr>
      <th>Длительность</th>
      <th>Цена</th>
      <th>Описание</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @tariffs.each do |tariff| %>
      <tr>
        <td><%= tariff.duration %></td>
        <td><%= tariff.price %></td>
        <td><%= tariff.description %></td>
        <td>
          <div class="actions-container">
            <%= link_to 'Редактировать', edit_tariff_path(tariff), class: 'action-button button-base' %>
            <%= button_to 'Удалить', tariff_path(tariff), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'action-button delete-button button-base' %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="empty-message">Тарифов пока нет</p>
<% end %>

<div class="form-group">
  <%= link_to 'Создать новый тариф', new_tariff_path, class: 'action-button button-base' %>
</div>
