<h1>Создание тарифа</h1>

<%= form_with model: @tariff, url: tariffs_path, local: true do |form| %>
  <div>
    <%= form.label :duration, 'Месяцев' %>
    <%= form.text_field :duration %>
  </div>

  <div>
    <%= form.label :price, 'Цена' %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :description, 'Описание' %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit 'Создать тариф' %>
  </div>
<% end %>

<% if @tariff.errors.any? %>
  <div>
    <h2>Ошибки:</h2>
    <ul>
      <% @tariff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
