<h1>Список заказов</h1>

<% if @orders.any? %>
  <table class="tariff-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Пользователь</th>
      <th>Статус</th>
      <th>Telegram ID</th>
      <th>Тариф</th>
      <th>Сумма</th>
      <th>Платеж ID</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user_id || 'Без пользователя' %></td>
        <td><%= order.status || 'Не указан' %></td>
        <td><%= order.telegram_user_id || 'Не указан' %></td>
        <td><%= order.tariff&.duration || 'Без тарифа' %></td>
        <td><%= order.amount || 'Не указана' %></td>
        <td>
          <% if order.payment_id.present? %>
            <%= link_to order.payment_id, "https://yookassa.ru/my/logs?query=#{order.payment_id}", target: '_blank', class: 'payment-link' %>
          <% else %>
            Не указан
          <% end %>
        </td>
        <td>
          <div class="actions-container">
            <%= link_to 'Просмотреть', order_path(order), class: 'action-button button-base' %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= will_paginate @orders %>
  </div>
<% else %>
  <p class="empty-message">Заказов пока нет</p>
<% end %>
