<!DOCTYPE html>
<html>
  <head>
    <title>WgBot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <% if logged_in? %>
          <%= button_to "Выйти", logout_path, method: :delete, class: "logout-button button-base" %>
        <% else %>
          <%= link_to "Войти", login_path, class: "login-button button-base" %>
        <% end %>
      </nav>
    </header>

    <% if flash[:alert] %>
      <p style="color: red;"><%= flash[:alert] %></p>
    <% elsif flash[:notice] %>
      <p style="color: green;"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
